<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
<%-include("nav.ejs")%>
  <center>
    <div class="container1 "style="background-color:white">
      <h1 >Welcome to Exam Application</h1>
    </div>
  </center>
</body>
</html>