<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>Student Login</title>
</head>
  <center>
    <div class="container1">
      <h1>Student Login</h1>
      <form action="/student/login" method="POST">
        <input type="text" name="username" placeholder="Enter Username" required><br><br><br>
        <input type="password" name="password" placeholder="Enter Password" required><br><br><br>
        <input type="submit" id="b" value="Login"><br>
      </form>
    </div>
  </center>
</body>
</html>
